/* .user-transcript {
    color: #3aa7f6;
} */

.user-transcript.ind-0 .time{
    color: #3aa7f6;
    font-weight: 500;
    text-align: right;
}

.user-transcript.ind-1 .time{
    color: #967aeb;
    font-weight: 500;
    text-align: right;
}

.user-transcript.ind-0 .text{
    padding: 8px 10px 20px;
    border-left: 2px solid;
    cursor: pointer;
}

.user-transcript.ind-1 .text{
    padding: 8px 10px 20px;
    border-left: 2px solid;
    cursor: pointer;
}

.user-transcript{
    margin: 20px;
    text-align: left;
}

.controls .play-pause{
    background: #1297f5;
    border-radius: 50%;
    color: #fff;
}

.header{
    padding: 15px;
}
.share button{
    background-color: #1297f5;
}
.word.active{
    background-color:#bee1fb;
    color:#000;
}
.search-box{
    width: 250px;
}

.search-box .input-group-text{
    background: transparent;
    border-right: 0;
    border-radius: 0;

}

.search-box input{
    border-left: 0;
}

.search-transcript{
    margin-top: 35px;
}
.word.search-text{
    background-color: yellow;
    color:#000;
}

.user-transcript.ind-0 .text:hover,.user-transcript.ind-1 .text:hover
{
    background: #f3fafe;
}

.tile.ind-0{
    background: #967aeb;;
}

.tile.ind-1{
    background: #3aa7f6;;
}

.wave-covered{
    position: absolute;
    left:0;
    position: absolute;
    left: 0;
    top: -24px;
    bottom: 0;
    height: 48px;
    width: 100%;
    background-color: #f3fafe;
    opacity: 0.7;

}

.play-hover:hover{
    color: #1297f5;
}

.header{
    background-color: #eff3f6;
}

.waveform{
    background-color: #fafbfc;
}

.name-prog-0{
    font-weight: 600;
    color: #967aeb;;
}

.name-prog-1{
    font-weight: 600;
    color: #3aa7f6;;
}